{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block stylesheets %} <link rel="stylesheet" href="{{ asset("css/about.css") }}"> {% endblock %}

{% block body %}
    <div id="wrapper_about">
        {% for message in feedbackMessages %}
            <div class="container_message">
                <span class="message_author">{{ message.author }} </span> napisał:
                <div class="message_content">{{ message.content }} </div>
                <hr class="message_separator">
            </div>
        {% endfor %}
    </div>
{% endblock %}
