#wrapper_about {
    padding-top: 10vh;
}

.container_message {
    width: 40vw;
    margin-left: 30vw;
    font-size: 2vh;
    margin-bottom: 6vh;
}

.message_author {
    display: inline-block;
    font-weight: bold;
    font-size: 3vh;
}

.message_content {
    margin-top: 3vh;
    margin-left: 5vw;
    word-break: break-all;
}

.message_author:hover {
    color: #F5871F;
    transition: all 0.05s ease;
}

.message_author:hover ~ .message_separator{
    border-color: #F5871F;
    transition: all 0.05s ease;
}

.message_author:not(:hover) {
    transition: all 2s ease;
}

.message_author:not(:hover) ~ .message_separator{
    transition: all 0.5s ease;
}

.message_separator {
    display: block;
    border-color: #e0e0e0;
}