#wrapper_about {
    padding-top: 10vh;
}

.container_message {
    height: 15vh;
    width: 40vw;
    margin-left: 30vw;
    font-size: 2vh;
    margin-bottom: 2vh;
}

.message_author {
    font-weight: bold;
    font-size: 3vh;
}

.message_content {
    margin-top: 3vh;
    margin-left: 5vw;
    word-break: break-all;
}